[client]

port=3306
default-character-set = utf8mb4

[mysqld]
server-id=1001
expire_logs_days=15
log_bin=mysql_bin
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
port=3306
character-set-server = utf8mb4
skip-character-set-client-handshake
skip-name-resolve
lower_case_table_names = 1
default-storage-engine = InnoDB
innodb_file_format = Barracuda
innodb_file_per_table = 1
